.header {
  padding: 0;
  background: #fff;
}

.user-profile {
  float: right;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.footer {
  text-align: center;
  padding: 10px;
}

.floating-controls {
  position: absolute;
  top: 60px;
  left: 15px;
  z-index: 1;
  display: flex;
  gap: 10px;
}

.mapItem{
  top: 90px;
}

.region-info-card {
  position: absolute;
  top: 90px;
  right: 20px;
  z-index: 400;
  width: 250px;
}

/* Night mode styles for the entire application */
.app-container.night-mode {
  background-color: #222;
  color: #fff;
}
